# ignore virtual environment
venv/

# ignore python cache
**/__pycache__/

## ignore sample data for testing
data/

## ignore notebooks for testing
notebooks/

## ignore build files
build/

## ignore models for testing
models/